.Card {
    flex: 1;
    flex-direction: column;
    background-color: white;

    border: 5px solid black;
    border-radius: 10px;

    width: 50vw;

    min-width: 300px;
    
    margin: 10px;

    overflow: hidden;
    
}

.Card .Conteudo {
    padding: 15px 0;

    color: black;
}

.Card .Footer {
    padding: 5px 0;

    background-color: black;
    color: white;

    height: 5vh;
}



