body {
    font-family:'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;

    background-color: #333;
}

h1, h2 {
    font-weight: 300;
}

.marker-btn {
    background: none;
    border: none;
    cursor: pointer;
    user-select: none;
    outline: none;
}

.marker-btn img {
    width: 20px;
    height: 20px;
}